@import "./scss/index";
#main-cont {
  display: flex;
  max-width: 720px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid $light;
  @include border-radius(8px);
  @include mobile() {
    border: none;
    margin: 0 auto;
  }
}
